##################################################################################
### VENDOR_EDIT, OPPO All rights reserved.
###
### File: - init.oppo.rc
### Author: jiangyg@PM
###
### ------------------------------- Revision History: ----------------------------
### <author>                        <data>       <version>   <desc>
### ------------------------------------------------------------------------------
### jiangyg@PM                     2013-10-21                Create this file
##################################################################################
#ifdef VENDOR_EDIT
#Hongdao.yu@BSP.Fingerprint.Basic 2017/04/02 Add for fingerprint compatibility
import /vendor/etc/init/hw/init.oppo.fingerprints.rc
#endif
#ifdef VENDOR_EDIT
#zhunn@OnLineRD.AirService.RIL, 2015/1/28, Add for cdma card cannot send sms in Yiwu
#WeiHong.Li@Mobile.Network, 2015/09/11, Add suid_dumpable to capture rild's tombstone according to case 02090380
#Zhengpeng@OnLineRD.AirService.RIL, 2013/11/4, Add for create opponvitems dir
on boot
	mkdir /data/opponvitems  0771 radio radio
	write /proc/sys/fs/suid_dumpable 1
	setprop persist.radio.force_on_dc true
	write /sys/class/power_supply/usb/otg_switch 1
	write /proc/sys/fs/suid_dumpable 0
#endif

